In [1]:
import os
import dotenv
import pandas as pd
import sqlalchemy as alch
import requests
import json

In [51]:
dotenv.load_dotenv()
password = os.getenv("sql_pass")

In [52]:
db_name = "slack"
conec = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [53]:
engine = alch.create_engine(conec)
print("me conecté")

me conecté

In [10]:
df = pd.read_sql_query(
"""
SELECT mess_id, content, messages.user_id, chat_id, first_name, last_name
FROM messages
INNER JOIN users
ON messages.user_id = users.user_id
ORDER BY messages.user_id ASC;
""", engine
)

In [11]:
df

   mess_id             content  user_id  chat_id first_name    last_name
0        1         Hola gente!        1        1   Cristian  Castro Blua
1        3         Como estan?        1        1   Cristian  Castro Blua
2        7  Vamos a disfrutar!        1        3   Cristian  Castro Blua
3        2               Holas        2        1      Borja       Cañada
4        4      Super contento        2        1      Borja       Cañada
5        8                 Si!        3        3     Alvaro       Garcia
6        5        Estoy triste        5        2      Santi       Moreno
7        6             Porque?        6        2   Victoria         Ruiz

#### Creating user:

In [21]:
url = "http://localhost:5000/create_user"

In [24]:
datos_usuario = {"slack_id": 7,
                 "first_name": "Luciernaga",
                 "last_name": "Perez"}

In [25]:
response = requests.post(url, data=datos_usuario)
response.content

b'Se ha creado el usuario!'

#### Creating a message:

In [26]:
url_create_message = "http://localhost:5000/create_message"

In [27]:
datos_mensaje = {"chat_id": 1,
                 "user_id": 1,
                 "content": "Argentina salio campeon!"}

In [29]:
response = requests.post(url_create_message, data=datos_mensaje)
response.content

b'Se ha creado el mensaje!'

#### Joining a user to a chat:

In [48]:
url_join_user = "http://localhost:5000/user_to_chat"

In [49]:
datos_union = {"chat_id": 2,
               "user_id": 7}

In [50]:
response = requests.post(url_join_user, data=datos_union)
response.content

b'Se ha unido el usuario al chat!'

#### Importing data from myAPI:

In [6]:
url = "http://localhost:5000/messages"

In [7]:
response = requests.get(url)
data = response.json()

In [8]:
data

'{"mess_id":{"0":1,"1":3,"2":7,"3":9,"4":10,"5":2,"6":4,"7":8,"8":5,"9":11,"10":6},"content":{"0":"Hola gente!","1":"Como estan?","2":"Vamos a disfrutar!","3":"Argentina salio campeon!","4":"Argentina salio campeon!","5":"Holas","6":"Super contento","7":"La mejor manera de probar el proyecto es as\\u00ed.","8":"Estoy triste","9":"Considero que sos una excelente persona y trabajas muy bien.","10":"Porque?"},"user_id":{"0":1,"1":1,"2":1,"3":1,"4":1,"5":2,"6":2,"7":3,"8":5,"9":5,"10":6},"chat_id":{"0":1,"1":1,"2":3,"3":1,"4":1,"5":1,"6":1,"7":3,"8":2,"9":2,"10":2},"first_name":{"0":"Cristian","1":"Cristian","2":"Cristian","3":"Cristian","4":"Cristian","5":"Borja","6":"Borja","7":"Alvaro","8":"Santi","9":"Santi","10":"Victoria"},"last_name":{"0":"Castro Blua","1":"Castro Blua","2":"Castro Blua","3":"Castro Blua","4":"Castro Blua","5":"Ca\\u00f1ada","6":"Ca\\u00f1ada","7":"Garcia","8":"Moreno","9":"Moreno","10":"Ruiz"}}'

In [35]:
type(data)

str

In [9]:
new_data = json.loads(data)

In [10]:
df_api = pd.DataFrame(new_data)
df_api

,mess_id,content,user_id,chat_id,first_name,last_name
0,1,Hola gente!,1,1,Cristian,Castro Blua
1,3,Como estan?,1,1,Cristian,Castro Blua
2,7,Vamos a disfrutar!,1,3,Cristian,Castro Blua
3,9,Argentina salio campeon!,1,1,Cristian,Castro Blua
4,10,Argentina salio campeon!,1,1,Cristian,Castro Blua
5,2,Holas,2,1,Borja,Cañada
6,4,Super contento,2,1,Borja,Cañada
7,8,La mejor manera de probar el proyecto es así.,3,3,Alvaro,Garcia
8,5,Estoy triste,5,2,Santi,Moreno
9,11,Considero que sos una excelente persona y trab...,5,2,Santi,Moreno
10,6,Porque?,6,2,Victoria,Ruiz

In [2]:
import tools.sia_functions as sia_f

Conectado a mysql / base de datos: slack

In [14]:
datos = sia_f.update_sia_nulls()
datos

    mess_id                                            content emotional_value
0         1                                        Hola gente!            None
1         2                                              Holas            None
2         3                                        Como estan?            None
3         4                                     Super contento            None
4         5                                       Estoy triste            None
5         6                                            Porque?            None
6         7                                 Vamos a disfrutar!            None
7         8                                                Si!            None
8         9                           Argentina salio campeon!            None
9        10                           Argentina salio campeon!            None
10       11  Considero que sos una excelente persona y trab...            None

In [18]:
for row in df_api.iterrows():
    print(row[1][1])
    break

Hola gente!

In [35]:
for row in df_api.iterrows():
    tokens = sia_f.tokenizer(row[1][1])
    print(tokens)
    translation = sia_f.translate_to_english(tokens)
    print(translation)
    test = sia_f.sentimental_analysis(translation)
    print(test["compound"])
    print(type(test["compound"]))

Couldn't recognize language
Couldn't recognize language
0.0
<class 'float'>


0.0
<class 'float'>
Couldn't recognize language
Couldn't recognize language
0.0
<class 'float'>
argentina salio campeon
Argentina came out champion
0.5994
<class 'float'>
argentina salio campeon
Argentina came out champion
0.5994
<class 'float'>
Couldn't recognize language
Couldn't recognize language
0.0
<class 'float'>
Couldn't recognize language
Couldn't recognize language
0.0
<class 'float'>
probar proyecto
test project
0.0
<class 'float'>
triste
sad
-0.4767
<class 'float'>
considerar sos excelente persona y
consider you are an excellent person and
0.5719
<class 'float'>
Couldn't recognize language
Couldn't recognize language
0.0
<class 'float'>

In [5]:
sia_f.update_sia_nulls()

### Let's try with one message:

In [21]:
from langdetect import detect
import spacy
import string
import re
from googletrans import Translator
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
# nltk.download('vader_lexicon')

In [22]:
mes_1 = "Estoy muy feliz!"

#### 1. Tokenize:

In [23]:
def tokenizer(message):
    try:
        if detect(message) == "en":
            nlp = spacy.load("en_core_web_sm")
        elif detect(message) == "es":
            nlp = spacy.load("es_core_news_sm")
        else:
            return "Couldn't recognize language"
    except:
        return "Didn't analize the message"
    
    tokens = nlp(message)
    important_words = []
    
    for word in tokens:
        if not word.is_stop:
            lemma = word.lemma_.lower().strip()
            if re.search("^[a-zA-Z]+$", lemma):
                important_words.append(lemma)
    
    return " ".join(important_words)

In [24]:
token_1 = tokenizer(mes_1)
token_1

'feliz'

#### 2. Translate:

In [25]:
token_1

'feliz'

In [26]:
trans = Translator()

In [27]:
translation = trans.translate(token_1, dest="en")
print(translation)

Translated(src=pt, dest=en, text=happy, pronunciation=happy, extra_data="{'translat...")

In [28]:
def translate_to_english(phrase):
    try:
        en = trans.translate(phrase, dest="en")
        return en.text
    except:
        return phrase

In [29]:
token_1_en = translate_to_english(token_1)
token_1_en

'happy'

#### 3. Sentiment analysis:

In [30]:
sia = SentimentIntensityAnalyzer()

In [31]:
polarity = sia.polarity_scores(token_1_en)
polarity

{'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.5719}

In [32]:
def sentimental_analysis(phrase):
    sia = SentimentIntensityAnalyzer()
    polarity = sia.polarity_scores(phrase)
    return polarity["compound"]

In [33]:
type(sentimental_analysis(token_1_en))

float